.results__list {
  height: 100vh;
  border-right: 0.5px solid #529566;
  padding: 0;
  margin-top: 30px;
}

.results__link:link,
.results__link:visited {
  border-bottom: 0.5px solid #529566;
  transition: all 0.3s;
  position: relative;
}

.results__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
  text-decoration: none;
}

.results__fig {
  overflow: hidden;
  width: 12%;
  border-radius: 50%;
  border: 1.5px solid red;
  height: 66px;
  margin: 10px;
  margin-left: 17px;
  margin-right: 25px;
}

.results__fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.results__data {
  text-transform: uppercase;
  padding: 10px 5px;
}

.results__name {
  font-size: 16px;
  font-weight: 400;
  color: #529566;
}

.results__cooking-time {
  font-size: 12px;
  font-weight: 400;
  color: #968b87;
}

.add-item__btn {
  color: green;
  margin-right: 3px;
}

.add-item__btn:hover {
  transform: scale(1.3);
}

.result__btn {
  position: absolute;
  right: 35px;
  top: 25px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
