.order-section {
  background-image: url(../../img/food-background-img.jpg);
  /* background-image: linear-gradient(to right bottom, #a4f677, #edeeec); */
  background-size: cover;
}

.main-page {
  background-color: #ffffff9e;
  border-radius: 10px;
  margin: 0 10vw;
  margin-top: 15px;
}

.recipe {
  border-right: 0.5px solid #529566;
  margin-top: 30px;
}

.order-list {
  margin-top: 30px;
}
